<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
<html lang="en">
  <head>
    <title>Avalon - Create Game</title>
    <link href = "/static/css/gamepage.css" rel = "stylesheet">
  </head>
  <body>
    <div id = "main_box">
    <div id= "header_box_background">
    <div id = "header_box">
    Avalon - Create Game
    </div>
    </div>
    </div>
    <div id="contentdiv">
        <p>This is the MissionSelect Page</p>
        {% if game.approvereject == 'approve' %}
            <h2>Mission Passed!</h2>
            <p>
                {% for player in game.playersonmission %}{{player}} {% endfor %}are going on the mission.
            </p>
            <p>Proceed to next phase</p>
            <form type='get' action='/gamerm{{round}}w'>
                <input type='hidden' name='id' value='{{gameid}}'/>
                <input type='hidden' name='user' value='{{user}}'/>
                <button type='submit' value='submit'>Mission 1</button>
            </form>
        {% endif %}
        {% if game.approvereject == 'reject' %}
            <h2>Mission was rejected</h2>
            {% if game.roundscores[round - 1] == 'fail' %}
                <h3>Spys win this mission!</h3>
                <form type='get' action='/gamerv2w'>
                    <input type='hidden' name='id' value='{{gameid}}'/>
                    <input type='hidden' name='user' value='{{ user }}'/>
                    <button type='submit' value='submit'>Next Round</button>
                </form>
            {% else %}
                <p>{{game.currentround}}/5 to automatic Spy victory</p>
                <p>Reassigning players on mission....</p>
                <form type='get' action='/gamerv{{round}}w'>
                    <input type='hidden' name='id' value='{{gameid}}'/>
                    <input type='hidden' name='user' value='{{user}}'/>
                    <button type='submit' value='submit'>Return to selection</button>
                </form>
            {% endif %}
            {% endif %}
    </div>
  </body>
</html>